{% include 'top.html' %}
<div class="post">
    {% if post.meta.featured_image %}
    <div class="post-image">
        <img src="{{ post.meta.featured_image }}">
    </div>
    {% endif %}
    
    <div class="post-header">
        <h1><a href="{{baseURL}}/{{post.meta.slug}}">{{post.meta.title}}</a></h1>
        {% if not post.meta.type == "page" %}
        <h4>{{ post.meta.datetime.strftime('%B %-d, %Y	') }}</h4>
        {% endif %}
    </div>
    <div class="post-body">
        {{post.body }}
        {{ site.post_ending}}

    </div>
</div>

{% include 'bottom.html' %}