<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if post is defined %}
    <title>{{ post.meta.title }}</title>
    {% else %}
    <title>{{ site.title}}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'metatags.html' %}

    <link rel="stylesheet" type="text/css" href="{{site.baseURL}}/v{{site.version}}-gazette.css">
    {{ site.header}}
  
</head>
{% include 'navbar.html' %}
<main>